@import "materialize-css/dist/css/materialize.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background-color: #f8f8f8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.mt-2 {
  margin-top: 20px;
}

.p-tb-1 {
  padding: 10px 0px;
}

.images {
  width: 100%;
  padding: 20%;
}

.card-list {
  border-radius: 10px;
  align-content: center;
  text-align: center;
  box-shadow: none;
}

.card-list img {
  padding: 10%;
}

.card-list .card-title {
  font-weight: bold;
  color: #2d3e50;
}

.card-detail {
  box-shadow: none;
  border-radius: 10px;
  align-content: center;
  text-align: center;
}

.detail {
  align-content: center;
  text-align: center;
}

.detail-title {
  font-weight: bold;
  color: #2d3e50;
}

@media screen and (min-width: 601px) {
  .detail {
    padding: 35% 0%;
  }
}

.icon {
  margin-top: 10px;
}

.icon a {
  margin: 15px;
  color: #2d3e50;
}

.icon a .youtube:hover {
  color: red;
}

.icon a .instagram:hover {
  color: #fd5949;
}

.icon a .facebook:hover {
  color: #3b5998;
}

.icon a .twitter:hover {
  color: #1da1f2;
}
